// This file contains all application-wide Sass variables.
$baseurl: "/guiadeti";

$bg-color: rgb(38, 38, 38);
$font-color: rgb(204, 204, 204);
$link-color: rgb(56, 173, 173);

$box-tip-color: rgb(0, 73, 122);

$box-note-color: rgb(185, 185, 0);

$box-learn-more-color: rgb(0, 196, 0);

$phone-width: 48em; // phone breakpoint = 768px