@use "../abstracts/index" as *;

// boxes used to display some type of information

.box {
    margin: 3rem 0;
    border-radius: 0.5rem;
    padding: 1rem;
     
    &--tip {
        border: 5px double $box-tip-color;
    }

    &--note {
        border: 5px double $box-note-color;
    }

    &--learn-more {
        border: 5px double $box-learn-more-color;
    }
}

.box-label {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    
    &__icon {
        width: 2.5rem;
        margin-right: 1rem;
    }
}

.box p {
    margin-left: 1rem;
}