<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Guia simples para aprender e revisar alguns conceitos de diversas áreas da TI">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/icons/html.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% feed_meta %}
  </head>
  <body>
    {{ content }}
  </body>
</html>