// This file contains very basic styles.

@use "../abstracts/index" as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $bg-color;
    color: $font-color;
    max-width: 50%;
    margin: auto;
    font-family: NeueHansKendrick, Arial, sans-serif;

    @media only screen and (max-width: 48em) {
        max-width: 100%;
        margin: 0.5em;
    } 
}

ul {
    margin: 1em 0 1em 2em;
}